@charset "utf-8";
/* logout中のページ */

/* 共通 */
html {
  /* background-color: blanchedalmond; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #020c42;
}

body {
  max-width: 768px;
  margin: 50px auto 0;
}

.bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  opacity: 0.4;
  z-index: -1;
}

.Polka {
  background-image: radial-gradient(#ffa500 2px, #ffffff 2px);
  background-size: 27px 27px;
}

.wrapper {
  background-color: #fff;
  max-width: 530px;
  height: fit-content;
  padding: 50px 30px;
  border-radius: 10px;
  border: #1c97c9 1px solid;
}

.input {
  height: 20px;
  max-width: 450px;
  min-width: 250px;
}

.inner_element,
.btn_wrapper {
  padding-bottom: 30px;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
  padding-bottom: 40px;
}

#login .btn_wrapper,
#register .btn_wrapper {
  display: flex;
  justify-content: flex-end;
}

.btn {
  background-color: #1c97c9;
  border-radius: 3px;
  padding: 7px 12px;
  border: none;
  color: #ffa500;
  font-weight: bolder;
  cursor: pointer;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7); */
  /* box-shadow: 1px 1px 0px 0px #1c97c9; */
}

.letter_space {
  letter-spacing: 0.25em;
}

.error_message {
  font-size: 0.7em;
  color: #f00;
  padding-top: 3px;
}

/* login.blade */
#login a {
  font-weight: bold;
  color: #ffa500;
}

/* register.blade */
/* added.blade */
#added .btn_wrapper {
  display: flex;
  justify-content: center;
}

.added_element {
  padding-bottom: 70px;
  font-weight: bold;
}
