@charset "utf-8";
/* logout中のページ */

/* 共通 */
html {
  /* background-color: blanchedalmond; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

html body {
  max-width: 768px;
  margin: 50px auto 0;
  height: 100%;
  color: #5f360b;
}

.bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  opacity: 0.4;
  z-index: -1;
}

.Polka {
  background-image: radial-gradient(#ffa500 2px, #fff 2px);
  background-size: 27px 27px;
}

.inner h2 {
  font-size: 17px;
  font-weight: bold;
}

.d-block {
  display: block;
}

.box a {
  color: #ffa500;
  text-decoration: none;
}

.box a:hover {
  /* color: #ff6c00; */
  color: #ba6205;
  text-decoration: none;
}

.small {
  font-size: 0.8em;
}

.smaller {
  font-size: 0.5em;
}

.like_btn,
.un_like_btn {
  cursor: pointer;
}

.un_like,
.un_like_btn {
  color: #E2254D;
}

.icon {
  border: #1c97c9 1px solid;
  border-radius: 3px;
  color: #1c97c9;
  padding: 0 5px;
  font-weight: bold;
}

.letter_space {
  letter-spacing: 0.25em;
}

/* layout */
header {
  background-color: #ffa500;
}

nav {
  position: relative;
  /* right: -150%; */
}

.nav.active {
  transform: translateX(50%);
  transition: .5s ease-in-out;
}

.arange {
  color: #ffa500;
}

/* 時間があったらやる　アイコンにマウスオーバーしたら「ログアウト」とか文字が出てくるやつ
.tooltip {
  position: relative;
}

.tooltip #tooltipContent {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  white-space: nowrap;
  transition: visibility 0.3s, opacity 0.3s;
}

.tooltip:hover #tooltipContent {
  visibility: visible;
  opacity: 1;
} */


/* builtinboard（home）ページ */

.inner {
  background-color: #fff;
  max-width: 500px;
  /* height: fit-content; */
  padding: 15px;
  border-radius: 10px;
}

.box_wrapper {
  width: 235px;

}

.box {
  border: 1px solid #1c97c9;
}

/* 右側 */
.add a {
  color: #1c97c9;
}

.add a:hover {
  text-decoration: none;
}

.keyword_box {
  width: 150px;
  height: 25px;
}

.keyword_box::placeholder {
  font-size: 0.8em;
}

.keyword_btn {
  background-color: #1c97c9;
  border: none;
  color: #FFF;
  border-radius: 3px;
  font-size: 0.8em;
  height: 25px;
}

.search_board .btn_design {
  font-size: 0.8em;
  background-color: #1c97c9;
  color: #FFF;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 7px;
}

.border_line::after {
  content: "";
  display: block;
  border-bottom: #1c97c9 1px solid;
  width: 125px;
  position: relative;
  top: -15px;
  right: -90px;
}
